<form method="get" action="/quizes/">
	Filtrar preguntas:<p />	
	Por Texto: <input type="text" name="search" value="" />	</p>
	Por Tema: 
	<select id="tema" name="tema">
	<option value="">----</option>
	  <option value="Otros">Otros</option>
	  <option value="Humanidades">Humanidades</option>
	  <option value="Ocio">Ocio</option>
	  <option value="Ciencia">Ciencia</option>
	  <option value="Tecnologia">Tecnología</option>
	</select></p>
	<input type="submit" value="Filtrar" />			
</form>

<h3>Filtro actual:
<% if(search && search.trim().length>0){ %>
	<%= search %>,	
<% }else{ %>
	Ninguno,
<%} %>
 Tema:
<% if(tema && tema.trim().length>0){ %>
	<%= tema %>
<% }else{ %>
	Todos
<%} %>
</h3>

<table>
<% var i; for(i=0;i<quizes.length;i++){ %>
	<tr>
		<td>Tema: <%= quizes[i].tema %></td>
		<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
		<td><a href="/quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
		<td>
			<form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
				<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
					borrar
				</button>	
			</form>
		</td>
	</tr>
<% } %>
</table>
<a href="/quizes/new"><button type="button">Crear Pregunta</button></a>